<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0">	
    <title>Final Topic - AngularJS</title>
	<link rel="stylesheet" type="text/css" href="css/style.css" />
	<script src="js/angular.min.js"></script>
  </head>
  <body ng-app="movieCollection">
    <div class="main">
      Welcome to the Final Topic - AngularJS
    </div>
	
	<div class="main" ng-controller="director">
	  {{ director.name }} - About the movie, {{ speak() }}
		<p>Incluir director</p>
		<input type="text" ng-model="Name">
		<input type="text" ng-model="Quote">
		<button ng-click="sumarDirector()">Objeto director</button>
	  </div>
	</div>
	
	<!--App-->
	<script src="js/app.js"></script>
	<!--Controllers-->
	<script src="js/directorC.js"></script>
  </body>
</html>