*{
  font-family: Verdana;
}

.div-registrer, .div-movie, .div-title{  
  margin: 0.5% auto;
  text-align: center;
  display: block;
  padding: 10px;
  width: 50%;
}

.div-movie *, .div-registrer *{
  margin: 2px;
}

.div-movie {
  border: 5px solid #ff0000;  
}

.div-title {
  border: 5px solid #00b3b3;
}

.div-registrer {
  border: 5px solid #0000ff;
}

.div-movie-data {
  padding: 3px 3px 3px 7px;
  border: 3px solid #3399ff;
  display: box;
  font-size: 17px;
}

.movie-button {
  margin: 0.5% auto;
  padding: 5px;
  width: 15%;
  font-size: 16px;
  color: #ffffff;
  background-color: #0059b3;
}

#div-movies {
  padding-bottom: 5px;
  text-decoration: underline;
}

.div-registrer input.ng-invalid.ng-touched {
  background-color: #FA787E;
}

.div-registrer input.ng-valid.ng-touched {
  background-color: #78FA89;
}

#modify-movie-button {
  display: none;  
}