*{
  font-family: Verdana;
}

.main, .form-movie{  
  margin: 0.5% auto;
  text-align: center;
  display: block;
  padding:10px;
  width: 50%;
}

.form-movie *{
	margin: 2px;
}

.form-movie{
  border: 5px solid #ff0000;
}

.main{
  border: 5px solid #0000ff;
}

/*.form-movie {
  display: none;
}*/

.movie {
  text-align: left;
  padding: 3px 3px 3px 7px;
  border: 5px solid #00ff00;
}

button {
  font-size: 17px;
  background-color: #0059b3;
  color: #ffffff;
  margin: 15px;
  padding:5px;
  width: 20%;
}