html { font-size: 100%; }

/* Medium screens (640px) */
@media (min-width: 500px) { 
  html {
    background-color: #0099ff;
    font-size: 110%; 
  }
  .column {
    margin: 2px;
	float: left;
	width: 15%;
    padding-left: 1rem;
    padding-right: 1rem;	
	display: inline-block;
  }
}

@media (min-width: 640px) { 
  html {
    background-color: #0099ff;
    font-size: 112%;
  }
  .column {
    margin: 5px;
	float: left;
	width: 20%;
    padding-left: 1rem;
    padding-right: 1rem;	
	display: inline-block;
  }
}

@media (min-width: 790px) {
  html {
    background-color: #33ccff;
    font-size: 115%;
  }
  .column {
    margin: 8px;
	float: left;
	width: 25%;
    padding-left: 1rem;
    padding-right: 1rem;	
	display: inline-block;
  }
}	

@media (min-width: 920px) { 
  html {
    background-color: #80dfff;
    font-size: 118%;
  }
  .column {
    margin: 10px;
	float: left;
	width: 25%;
    padding-left: 1rem;
    padding-right: 1rem;	
	display: inline-block;
  }
}


@media (min-width: 1024px) { 
  html {
    background-color: #ffffff;
    font-size: 120%;
  }
  .column {
    margin: 10px;
	float:left;
	width:25%;
    padding-left: 1rem;
    padding-right: 1rem;
	display:inline-block;
  }
}

body {
	-webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
}

.container {
	margin: 0 auto;
	padding: 10px 10px 10px 10px;
}

.div-hover {
	display: none;
	text-align: center;
	color: #ffffff;
	height: 180px;
	width: 95%;
	margin: 0 auto;
}

.column {
	background-color: #0000ff;
	height: 360px;
	border: 5px solid white;
}	

.column:hover > .div-hover{
	display: inline-block;
}


